.img-nav {
    height: 55px;
}

.title-nav {
    font-family: 'Sedgwick Ave Display', cursive;
}

.container-list {
    list-style: none;
    height: 30px;
}

.main {
    flex: 1;
}

span {
    font-family: 'Delicious Handrawn', cursive;
}
li, h2 {
    font-family: 'Sedgwick Ave Display', cursive;
}